*{
    background-color: black;
    color: white;
}
.one{
    margin:20px 50px;
}
.one input{
    display:block;
    width:55%;
    margin-top:10px;
}
.two {
margin:20px 50px;

}
body {
    width: 100vw;
    height: 100vh;
    margin:0px;
    background-color:whitesmoke;
    color: black;
    font-family: Tahoma;
    font-size: 16px;
   
  }
  button{
   margin:10px 50px;
    padding:10px;
    font-size:90%;

  }

select{
  margin:15px auto;
}
